@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "burtons";
  src: url("../../public//Burtons.otf");
}

.ReactCollapse--collapse {
  transition: height 500ms;
  white-space: pre-wrap;
}
.my-component {
  background: red;
}

.fullscreen-enabled .my-component {
  background: red;
}
.project_more_details {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.project_more_details h3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.project_more_details li {
  /* list-style: url("/media/examples/rocket.svg"); */
  list-style: inside;
}
