@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "burtons";
  src: url("../../public//Burtons.otf");
}

.ReactCollapse--collapse {
  transition: height 500ms;
}
