@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "burtons";
  src: url("../../public//Burtons.otf");
}

.ReactCollapse--collapse {
  transition: height 500ms;
  white-space: pre-wrap;
}
.my-component {
  background: red;
}

.fullscreen-enabled .my-component {
  background: red;
}
* {
  border: 1px red dashed;
}
